@model templateForm.Models.movies

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>details</title>
</head>
<body>*@

    <div>
        @Model.id
        @Model.name
        @Model.year
        @Model.rate

        <a href="/bigMovie/GetAll">Back to index</a>

    </div>
@*</body>
</html>*@
