@model templateForm.Models.movies






<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/bigMovie/Edit">

            <div class="form-group row">
                @*<label for="au_id" class="col-sm-2 col-form-label">Id</label>*@
                <div class="col-sm-10">
                    <input value="@Model.id" type="hidden" class="form-control" id="id" name="id" />
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input value="@Model.name" type="text" class="form-control" id="name" name="name" />
                </div>
            </div>

            <div class="form-group row">
                <label for="year" class="col-sm-2 col-form-label">year</label>
                <div class="col-sm-10">
                    <input value="@Model.year" type="text" class="form-control" id="year" name="year" />
                </div>
            </div>

            <div class="form-group row">
                <label for="rate" class="col-sm-2 col-form-label">rate</label>
                <div class="col-sm-10">
                    <input value="@Model.rate" type="text" class="form-control" id="rate" name="rate" />
                </div>
            </div>

            <input type="submit" value="Edit" class="btn btn-success" />
        </form>
        <a href="/bigMovie/GetAll">Back to Index</a>
    </div>

</body>
</html>